# Archivos binarios
*.exe
*.dll
*.so
*.dylib

# Archivos de construcción
*.o
*.a
*.out

# Archivos de respaldo y temporales
*~
.vscode/
.idea/
.DS_Store

# Archivos de configuración locales
/.idea
/.goland

# Dependencias y directorios generados
/go.sum
/go.mod
/bin/
/vendor/
